html,body, { 
	height:100%;
}
.page-header {
	background: #000;
	margin    :0;
	color     : #bfbfbf;
	border    : none;
	text-align: left;
}
.jumbotron {
	background-image: url("/img/bestest.png");
	background-size : cover;
	color           : white;
	text-align      : center;
	margin-bottom   : 0px;
}
#sidebar {
	z-index   : 1000;
	position  : fixed;	
	width     : 250px;
	height    : 100%;
	overflow-y: auto;
	background: #111;
	color     : #bfbfbf;
	transition: all .4s ease 0s;

}
#sidebar .nav {
	width         : 95%;
	padding-bottom: 20px;
	display: block;
}
#sidebar li {
	border        : 0 #f2f2f2 solid;
	padding-top   : 20px;
	font-size     : 1.5em;
} 
.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: bold;
    background-color: none;
}
.content-wrapper {
	position    : absolute;
	padding     : 15px;
	margin-left : 250px;
	margin-right: -250px;
}
.footer {
	position: absolute;
	bottom  : 0;
	width   : 100%;
	margin  : 0;
	padding : 0;
}
.navbar {
	border-bottom : 0px;
	padding-bottom: 0px;
}
.navbar-fixed-bottom {
	margin : 0px;
	padding: 0px;
}
.panel-footer {
	background-color: black;
	border          : none;
}
