html,body, { height:100%; }
.page-wrapper { }
.page-header {
	background   : #222222;	
	color        : #bfbfbf;
	border       : none;
	text-align   : left;
	margin       : 0;
	border-bottom: 2px solid black;	
}

#sidebar {
	background-color: #111111;
	height          : 100%;
	width           : 200px;
	position        : fixed;
	margin-left     : -25px;
}
#sidebar .nav {	font-size: 1.2em; padding-top: 10px; }
#sidebar .nav { color: red;}

#content {
	margin-left: 200px;
	padding-top: 25px;
}

