html,body, { height:100%;}
.page-wrapper { }
.page-header {
	background   : #333333;	
	color        : #cfcfcf;
	border       : none;
	text-align   : left;
	margin       : 0;
	margin-top   : -25px;
	padding-top  : 20px;
	padding-left : 20px;
}

#sidebar {
	background-color: #4d78ff;
	height          : 100%;
	width           : 200px;
	position        : fixed;
	margin-left     : -25px;
}
#sidebar {padding: 0px 0px 0px 10px; border-right: 2px solid; }
#sidebar .nav { font-size: 1.2em; }
#sidebar a { outline: 0; color: #bbbbbb; border: 0px; background: transparent; text-shadow: black 0.1em 0.1em 0.2em; }
#sidebar a:hover { background: transparent; }
#sidebar a:focus { background: transparent; }
.active { background: #7A99FF; }
.active a { color: white !important; font-color: white; }

#mainContent {
	margin-left: -25px;
	margin-left: 175px;
	padding-top: 25px;
}

#mainContent div {
    padding-bottom: 25px;
}

